body {
    background: url("../images/background-form.jpg");
    background-size: cover;
}

/* konten */
main {
    color: black;
}
main div.container {
    justify-content: space-between;
    align-items: center;
}
main div#formulir {
    margin-top: 100px;
    width: 450px;
    height: auto;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
}
main form div {
    margin-bottom: 20px;
}
main div.flex-center a {
  margin: 5px;
}
main a.facebook {
    background-color: #005981;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main a.google {
    background-color: #D93F21;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main a img {
    height: 30px;
}
main .medsos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}
main input {
  height: 40px;
  color: black;
  border-bottom: 2px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 5px;
}
main div.medsos {
  height: 100%;
  margin-bottom: 0px;
}

/* warna tombol facebook */
main button.facebook {
  background-color: #005981;
}

/* warna tombol google */
main button.google {
  background-color: #D93F21;
}

/* teks hitam */
.teks-hitam {
  color: black;
  font-size: 14px;
}
h4 {
  color: black;
}

@media screen and (max-width: 768px) {
  main div#formulir {
    border-radius: 0px;
    width: 100%;
  }
  main div.medsos {
    font-size: 15px;
  }
  main .medsos {
    margin-left: 25px;
  }
}
