body {
    background: linear-gradient(180deg, #91B47A 0%, #689159 100%);
    height: 100vh;
}
h1 {
    font-size: 60px;
    padding-top: 100px;
    font-family: Qualy;
}
select, input {
    background-color: transparent;
    border: white solid 2px;
    border-radius: 5px;
    width: 100%;
}

main div.grid-content {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: auto 350px;
    margin-bottom: 100px;
}
main div.grid-content div {
    min-height: 350px;
}
main div.grid-content table {
    background: #9AA684;
    opacity: 0.75;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 25px;
}
main table {
    width: 100%;
}
main table tr td {
    padding-bottom: 10px;
}
main table tr td#tombol-beli {
    padding-top: 20px;
    text-align: center;
}
main aside {
    position: fixed;
}
@media screen and (max-width: 768px) {
    main div.grid-content {
        grid-template-columns: auto;
        margin-bottom: 0px;
    }
    main aside {
        bottom: 0px;
        width: 100%;
    }
    main div.grid-content table {
        border-radius: 0px;
        opacity: 1;
    }
    h1 {
        margin-left: 10px;
        font-size: 50px;
    }
    aside table tr {
        border-top: 5px solid rgb(59, 59, 59);
        border-bottom: 5px solid rgb(59, 59, 59);
    }
}