/* font */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body {
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.first {
  flex-grow: 1;
}
  
.second {
  flex-grow: 2;
}
  
.third {
  flex-grow: 3;
}
.fourth {
  flex-grow: 4;
}

.hilang-dekstop {
  display: none;
}

/* navigasi */
nav {
    position: fixed;
    left: 0;
    right: 0;
}
nav div.flex-row {
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
nav .container a:not(#icon-pencarian) {
    margin: 0 25px;
}
nav a#teks-lapaktani {
    font-family: Qualy, Arial, Helvetica, sans-serif;
    font-size: 25px;
}
nav a#teks-lapaktani span {
    color: red;
}
nav button.tombol-dropdown {
  display: none;
}
nav div#pencarian {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 15px;
    height: 30px;
    padding: 0;
}
nav div#pencarian input {
    background-color: transparent;
    border: 0px;
    padding-left: 10px;
    height: 30px;
    width: 300px;
}
nav img.icon {
    height: 20px;
    padding-right: 5px;
}
.navigasi {
  border-top: 3px transparent solid;
  padding: 10px 0px;
}
.active, .navigasi:hover {
  border-top: 3px rgba(255, 255, 255, 0.3) solid;
}
nav img.tombol-dropdown {
  display: none;
}

/* tombol */
.button-pendek {
    padding: 10px 20px;
    border-radius: 28px;
    width: 100px;
    text-align: center;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
}
.button-panjang {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
}
.button-panjang-2 {
  width: fit-content;
  height: 40px;
  padding: 10px 0px 10px 20px;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
}
.button-warna {
  background: #7270FF;
}
.button-putih {
  color: black;
  background: white;
  border: 1px solid #727072;
}

/* perataan */
.rata-tengah {
  text-align: center;
}
.rata-kanan {
  text-align: right;
}
.rata-kiri {
  text-align: left;
}
  
/* teks hitam */
.teks-hitam {
  color: black;
  font-size: 14px;
}

footer {
  background-color: #91B47A;
  font-size: 15px;
  text-align: center;
  padding: 20px 0px;
}

@media screen and (max-width: 768px) {
  .hilang {
    display: none;
  }
  nav img.tombol-dropdown {
    display: block;
  }

  .hilang-dekstop {
    display: block;
  }

  nav {
    position: static;
  }
  nav div.container.flex-row {
    flex-direction: column;
    height: fit-content;
  }
  nav div.flex-row {
    justify-content: flex-start;
    align-items: unset;
  }
  nav div.flex-row.fixed {
    align-items: center;
    justify-content: space-around;
  }
  nav a#teks-lapaktani {
    text-align: center;
    height: 50px;
    padding: 10px 0px;
  }
  nav div#pencarian input {
    width: auto;
  }
  nav img.tombol-dropdown {
    width: 20px;
    height: 20px;
  }
  nav div.dropdown-child{
    flex-direction: column;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color:  #22544B;
    left: 0;
    top: 0;
    display: none;
  }
  .tombol-dropdown:hover nav div.dropdown-child{
    display: flex;
  }
  nav div.dropdown-child a.navigasi {
    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
  }
  nav div.dropdown-child a.navigasi:hover {
    background-color: white;
    color: black;
  }
  nav .container a:not(#icon-pencarian) {
    margin: 0px 0px;
  }
}