body {
    background: linear-gradient(90deg, #22544B 0%, #689159 70.31%);
    min-height: 100vh;
}

main {
    padding-top: 70px;
}
main.container {
    margin-right: 0px;
}
main img.tombol-kembali {
    height: 30px;
}
main div.layar-putih {
    border-radius: 90px 0 0 0;
    background: linear-gradient(270deg, #91B47A 0%, #FFFFFF 100%);
    background-blend-mode: luminosity;
    z-index: -1;
    text-align: center;
    width: 50%;
}
main div.bagikan {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10%;
    width: 60%;
    border-radius: 100px 0 0 0;
    background: #22544B;
    justify-content: center;
    align-items: center;
}
main div.bagikan div#teks-bagikan {
    font-size: 25px;
    margin-right: 50px;
}
main div.bagikan a.icon-bagikan {
    margin-left: 30px;
}
main div.bagikan img {
    width: 40px;
}
main div.keterangan-produk {
    justify-content: space-between;
    height: 80vh;
}
main div.teks-produk img {
    width: 400px;
}
main div.keterangan-produk div.teks-produk div {
    margin-top: 30px;
}
main div.keterangan-produk div.kategori {
    font-size: 25px;
}
main div.keterangan-produk div.nama-produk {
    font-size: 75px;
    font-family: Qualy;
}
main div.keterangan-produk div.harga {
    font-size: 40px;
}
main a.tombol-panah {
    background-color: transparent;
    border: 2px solid #B0F398;
    border-radius: 20px;
    font-size: 15px;
    padding: 0px 0px 0px 25px;
    display: flex;
    align-items: center;
    margin-right: 70px;
}
main a.tombol-panah span {
    margin-left: 20px;
    background-color: #B0F398;
    padding: 10px;
    border-radius: 25px;
}
main a.tombol-panah span img {
    width: 20px;
}
main a.tombol-biru {
    background-color: #7270FF;
    border: 0px;
}

@media screen and (max-width: 768px) {
    main div.flex-row.keterangan-produk {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: fit-content;
    }
    main div.layar-putih {
        width: 100%;
        border-radius: 0px;
    }
    main div.keterangan-produk div.teks-produk div {
        margin-top: 10px;
        font-size: 20px;
    }
    main div.bagikan {
        position: static;
        width: 100%;
        border-radius: 0px;
    }
    main div.bagikan div#teks-bagikan {
        font-size: 15px;
        margin-right: 25px;
    }
}